<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.davis.kevin.dijkelapp">

    <application
            android:name=".DOM.MyApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".LoginActivity">
        </activity>
        <activity android:name=".SettingsActivity">
        </activity>
        <activity android:name=".SchachtenActivity">
        </activity>
        <activity android:name=".DijkelActivity">
        </activity>
        <activity android:name=".SchachtDetailActivity">
        </activity>
        <activity android:name=".PraesidiumActivity">
        </activity>
        <activity android:name=".PraesidiumDetailActivity">
        </activity>
        <activity android:name=".PasswordActivity">
        </activity>
        <activity android:name=".SplashScreenActivity">
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>